httpx
bcrypt
pytest
pyyaml
pystray
fastapi
keyring
aiosqlite
flet[all]
sqlalchemy
pydantic-ai
pytest-asyncio
desktop-notifier
uvicorn[standard]
bs4
python-docx
pypdf
openpyxl
pyperclip
speedtest-cli
send2trash